<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request object</title>
</head>
<body>
    <h3>REGISTER THE CUSTOMER,FILL THE FOLLOWING FORM.</h3>
    <form action="http://localhost:5000/success" method="POST">
        <p>Name<input type="text" name="name"></p>
        <p>Email<input type="email" name="email"></p>
        <p>Contact<input type="text" name="contact"></p>
        <p>Pincode<input type="text" name="pin"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
</body>
</html>